.input {
  display: flex;
  flex-direction: column;
  gap: var(--pc-spacing);
  min-width: 10rem;

  &__field-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--pc-input-background);
    border-radius: var(--pc-border-radius);
    border: 0.063rem solid var(--pc-border-color);
    width: 100%;
    transition: var(--pc-transition);
    position: relative;

    &:hover {
      background-color: var(--pc-input-hover);
    }
  }

  &__field {
    padding: calc(var(--pc-spacing) * 2.5) calc(var(--pc-spacing) * 3);
    background: none;
    border: none;
    color: var(--pc-text-color);
    font-size: var(--pc-font-size-sm);
    flex: 1;

    &:focus {
      outline: none;
    }
  }

  &__slot {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &--has-left-slot {
    .input__field {
      padding-left: calc(var(--pc-spacing) * 8);
    }
  }

  &--has-right-slot {
    .input__field {
      padding-right: calc(var(--pc-spacing) * 8);
    }
  }
}
