:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  --pc-info: #2980b9;
  --pc-success: #27ae60;
  --pc-warning: #e67e22;
  --pc-error: #c0392b;
  --pc-background: #262626;
  --pc-surface-background: #222;
  --pc-card-background: #3a3a3a;
  --pc-overlay-background: rgba(34, 34, 34, 0.5);
  --pc-clickable-background: #333;
  --pc-clickable-hover: #444;
  --pc-clickable-active: #555;
  --pc-clickable-disabled: #aaa;
  --pc-text-color: #eee;
  --pc-font-size-xs: 0.75rem;
  --pc-font-size-sm: 0.875rem;
  --pc-font-size-md: 1rem;
  --pc-font-size-lg: 1.25rem;
  --pc-font-size-xl: 1.5rem;
  --pc-border-color: #4b4b4b;
  --pc-blur: 0.25rem;
  --pc-spacing: 0.25rem;
  --pc-border-radius: 0.25rem;
  --pc-container-max-width: 67.5rem;
  --pc-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}.avatar {
  display: flex;
  align-items: center;
  gap: calc(var(--pc-spacing) * 2);
}
.avatar__image-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--pc-spacing);
  border-radius: 50%;
  overflow: hidden;
  border: 0.063rem solid var(--pc-border-color);
  width: 2.5rem;
  height: 2.5rem;
}
.avatar__image {
  width: 100%;
  height: 100%;
}
.avatar__text-wrapper {
  display: flex;
  flex-direction: column;
  color: currentColor;
}
.avatar__name {
  font-size: 0.875rem;
  font-weight: bold;
}
.avatar__description {
  font-size: 0.75rem;
}.breadcrumbs {
  display: flex;
  align-items: center;
  gap: calc(var(--pc-spacing) * 2);
}
.breadcrumbs > div[class*=component--]:not(:first-of-type) {
  display: flex;
  align-items: center;
  gap: calc(var(--pc-spacing) * 2);
}
.breadcrumbs > div[class*=component--]:not(:first-of-type)::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23eee" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path></svg>');
  height: 1rem;
}.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--pc-spacing) * 2);
  padding: calc(var(--pc-spacing) * 3) calc(var(--pc-spacing) * 6);
  min-height: calc(var(--pc-spacing) * 7);
  min-width: calc(var(--pc-spacing) * 7);
  border-radius: var(--pc-border-radius);
  background-color: var(--pc-clickable-background);
  color: var(--pc-text-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: var(--pc-transition);
  font-size: var(--pc-font-size-md);
}
.button:hover {
  background-color: var(--pc-clickable-hover);
}
.button:active {
  background-color: var(--pc-clickable-active);
}
.button:disabled {
  background-color: var(--pc-clickable-disabled);
  cursor: initial;
}
.button:disabled .button__label {
  opacity: 0.75;
}.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--pc-container-max-width);
  margin: 0 auto;
  padding: 0 calc(var(--pc-spacing) * 4);
}
@media screen and (min-width: 48em) {
  .container {
    padding: 0 calc(var(--pc-spacing) * 6);
  }
}.drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 20;
}
.drawer__overlay {
  background: var(--pc-overlay-background);
  backdrop-filter: blur(var(--pc-blur));
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: var(--pc-transition);
  opacity: 0;
  display: none;
}
.drawer__content {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 100%;
  height: 100%;
  background-color: var(--pc-surface-background);
  color: var(--pc-text-color);
  position: absolute;
  z-index: 1;
  transition: var(--pc-transition);
  transform: translateX(-100%);
  display: none;
}
.drawer__header {
  display: flex;
  justify-content: flex-end;
  padding: calc(var(--pc-spacing) * 4);
}
.drawer__bt-close {
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
}
.drawer__body {
  height: 100%;
  padding: calc(var(--pc-spacing) * 4);
  overflow-y: auto;
}
.drawer__footer {
  padding: calc(var(--pc-spacing) * 4);
  min-height: calc(var(--pc-spacing) * 15 + 0.063rem);
}.header {
  background: var(--pc-surface-background);
  position: sticky;
  top: 0;
  width: 100%;
  color: var(--pc-text-color);
  z-index: 10;
}
.header__container {
  min-height: 3.75rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--pc-spacing) * 2);
  height: 100%;
  padding-top: calc(var(--pc-spacing) * 2);
  padding-bottom: calc(var(--pc-spacing) * 2);
}
.header__left-content, .header__center-content, .header__right-content {
  display: flex;
  align-items: center;
  gap: var(--pc-spacing);
  flex: 1;
}
.header__center-content {
  justify-content: center;
}
.header__right-content {
  justify-content: flex-end;
}.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 20;
}
.modal__overlay {
  background: var(--pc-overlay-background);
  backdrop-filter: blur(var(--pc-blur));
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: var(--pc-transition);
  opacity: 0;
  display: none;
}
.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 20rem;
  max-height: 16rem;
  background-color: var(--pc-surface-background);
  color: var(--pc-text-color);
  border-radius: var(--pc-border-radius);
  position: absolute;
  z-index: 1;
  transition: var(--pc-transition);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.modal__header {
  display: flex;
  justify-content: flex-end;
  padding: calc(var(--pc-spacing) * 4);
}
.modal__bt-close {
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
}
.modal__body {
  height: 100%;
  padding: calc(var(--pc-spacing) * 4);
  overflow-y: auto;
}
.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: calc(var(--pc-spacing) * 2);
  padding: calc(var(--pc-spacing) * 4);
  min-height: calc(var(--pc-spacing) * 15);
}.progress {
  position: relative;
  min-height: calc(var(--pc-spacing) * 6);
  border: 0.063rem solid var(--pc-border-color);
  border-radius: var(--pc-border-radius);
  color: var(--pc-text-color);
  width: 100%;
  overflow: hidden;
}
.progress__fill {
  width: 0;
  height: 100%;
  background-color: var(--pc-info);
}
.progress__value {
  position: absolute;
  left: calc(var(--pc-spacing) * 2);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: var(--pc-font-size-sm);
  line-height: 1;
}.tab {
  position: relative;
  padding: calc(var(--pc-spacing) * 3) calc(var(--pc-spacing) * 8);
  border-radius: 0;
  font-weight: 400;
  background-color: transparent;
}
.tab__activity-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.188rem;
  background-color: var(--pc-border-color);
  transition: var(--pc-transition);
}.tab-panel {
  flex-direction: column;
  padding: calc(var(--pc-spacing) * 4) 0;
}.tabs {
  overflow: hidden;
}
.tabs__tab-list {
  display: flex;
  overflow-x: auto;
  border-bottom: 0.063rem solid var(--pc-border-color);
}.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--pc-spacing) * 2);
  padding: calc(var(--pc-spacing) * 1) calc(var(--pc-spacing) * 3);
  min-height: calc(var(--pc-spacing) * 7);
  min-width: calc(var(--pc-spacing) * 7);
  border-radius: var(--pc-border-radius);
  background-color: var(--pc-info);
  color: var(--pc-text-color);
  transition: var(--pc-transition);
  font-size: var(--pc-font-size-sm);
}.toast {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: calc(var(--pc-spacing) * 2);
  width: calc(100% - var(--pc-spacing) * 8);
  max-width: 22.5rem;
  border-radius: 0.25rem;
  color: var(--pc-text-color);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}
.toast--default {
  background-color: var(--pc-card-background);
  border: 0.063rem solid var(--pc-border-color);
}
.toast--success {
  background-color: var(--pc-success);
}
.toast--error {
  background-color: var(--pc-error);
}
.toast--warning {
  background-color: var(--pc-warning);
}
.toast--info {
  background-color: var(--pc-info);
}
.toast--top-left {
  top: calc(var(--pc-spacing) * 4);
  left: calc(var(--pc-spacing) * 4);
  transform: translateX(calc(-100% - var(--pc-spacing) * 4));
}
.toast--top-center {
  top: calc(var(--pc-spacing) * 4);
  left: 50%;
  transform: translate(-50%, calc(-100% - var(--pc-spacing) * 4));
}
.toast--top-right {
  top: calc(var(--pc-spacing) * 4);
  right: calc(var(--pc-spacing) * 4);
  transform: translateX(calc(100% + var(--pc-spacing) * 4));
}
.toast--bottom-left {
  bottom: calc(var(--pc-spacing) * 4);
  left: calc(var(--pc-spacing) * 4);
  transform: translateX(calc(-100% - var(--pc-spacing) * 4));
}
.toast--bottom-center {
  bottom: calc(var(--pc-spacing) * 4);
  left: 50%;
  transform: translate(-50%, calc(100% + var(--pc-spacing) * 4));
}
.toast--bottom-right {
  bottom: calc(var(--pc-spacing) * 4);
  right: calc(var(--pc-spacing) * 4);
  transform: translateX(calc(100% + var(--pc-spacing) * 4));
}
.toast--open {
  transform: translate(0, 0);
}
.toast--open.toast--top-center {
  transform: translate(-50%, 0);
}
.toast--open.toast--bottom-center {
  transform: translate(-50%, 0);
}
.toast__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--pc-spacing) * 2) calc(var(--pc-spacing) * 2) 0 calc(var(--pc-spacing) * 3);
}
.toast__title {
  font-weight: bold;
  font-size: 1rem;
}
.toast__bt-close {
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
}
.toast__bt-close:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.toast__description {
  margin: 0;
  padding: 0 calc(var(--pc-spacing) * 3) calc(var(--pc-spacing) * 4) calc(var(--pc-spacing) * 3);
}* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  min-height: 100vh;
}

.documentation {
  min-height: 100vh;
  background-color: var(--pc-background);
  color: var(--pc-text-color);
}