.tabs {
  background-color: var(--pc-clickable-background);
  border-radius: var(--pc-border-radius);

  &__tab-list {
    display: flex;
    overflow-x: auto;

    .tab:first-of-type {
      border-top-left-radius: var(--pc-border-radius);
    }

    .tab:last-of-type {
      border-top-right-radius: var(--pc-border-radius);
    }
  }

  // @media screen and (min-width: 48em) {
  //   display: flex;
  // }
}
