.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--pc-container-max-width);
  margin: 0 auto;
  padding: 0 calc(var(--pc-spacing) * 4);

  @media screen and (min-width: 48em) {
    padding: 0 calc(var(--pc-spacing) * 6);
  }
}
