.progress {
  position: relative;
  min-height: calc(var(--pc-spacing) * 6);
  border: 0.063rem solid var(--pc-border-color);
  border-radius: var(--pc-border-radius);
  color: var(--pc-text-color);
  width: 100%;
  overflow: hidden;

  &__fill {
    width: 0;
    height: 100%;
    background-color: var(--pc-info);
  }

  &__value {
    position: absolute;
    left: calc(var(--pc-spacing) * 2);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: var(--pc-font-size-sm);
    line-height: 1;
  }
}
