.drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;

  &__overlay {
    background: var(--pc-overlay-background);
    backdrop-filter: blur(calc(var(--pc-spacing) / 2));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: var(--pc-transition);
    opacity: 0;
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    width: 100%;
    height: 100%;
    background-color: var(--pc-surface-background);
    color: var(--pc-text-color);
    position: absolute;
    z-index: 1;
    transition: var(--pc-transition);
    transform: translateX(-100%);
    display: none;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: calc(var(--pc-spacing) * 4);
  }

  &__bt-close {
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
  }

  &__body {
    height: 100%;
    padding: calc(var(--pc-spacing) * 4);
    overflow-y: auto;
  }

  &__footer {
    padding: calc(var(--pc-spacing) * 4);
    min-height: calc(var(--pc-spacing) * 15 + 0.063rem);
  }
}
