.header {
  background: var(--pc-surface-background);
  position: sticky;
  top: 0;
  width: 100%;
  color: var(--pc-text-color);
  z-index: 1;

  &__container {
    min-height: 3.75rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--pc-spacing) * 2);
    height: 100%;
    padding-top: calc(var(--pc-spacing) * 2);
    padding-bottom: calc(var(--pc-spacing) * 2);
  }

  &__left-content,
  &__center-content,
  &__right-content {
    display: flex;
    align-items: center;
    gap: var(--pc-spacing);
    flex: 1;
  }

  &__center-content {
    justify-content: center;
  }

  &__right-content {
    justify-content: flex-end;
  }
}
