.tab {
  position: relative;
  padding: calc(var(--pc-spacing) * 3) calc(var(--pc-spacing) * 8);
  border-radius: 0;
  font-weight: 400;

  &__activity-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0.188rem;
    background-color: var(--pc-border-color);
    transition: var(--pc-transition);
  }
}
