$gap: calc(var(--pc-spacing) * 2);

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: $gap;

  > div[class*='component--']:not(:first-of-type) {
    display: flex;
    align-items: center;
    gap: $gap;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23eee" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path></svg>');
      height: 1rem;
    }
  }
}
