:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  --pc-info: #2980b9;
  --pc-success: #27ae60;
  --pc-warning: #e67e22;
  --pc-error: #c0392b;

  --pc-background: #262626;
  --pc-surface-background: #222;
  --pc-card-background: #3a3a3a;
  --pc-input-background: #3a3a3a;
  --pc-overlay-background: rgba(34, 34, 34, 0.5);
  --pc-clickable-background: #333;
  --pc-clickable-hover: #444;
  --pc-clickable-active: #555;
  --pc-clickable-disabled: #aaa;
  --pc-text-color: #eee;
  --pc-font-size-xs: 0.75rem;
  --pc-font-size-sm: 0.875rem;
  --pc-font-size-md: 1rem;
  --pc-font-size-lg: 1.25rem;
  --pc-font-size-xl: 1.5rem;
  --pc-border-color: #4b4b4b;
  --pc-blur: 0.25rem;
  --pc-spacing: 0.25rem;
  --pc-border-radius: 0.25rem;
  --pc-container-max-width: 67.5rem;
  --pc-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
