:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  --pc-background: #262626;
  --pc-surface-background: #222;
  --pc-overlay-background: rgba(34, 34, 34, 0.5);
  --pc-clickable-background: #333;
  --pc-clickable-hover: #444;
  --pc-clickable-active: #555;
  --pc-clickable-disabled: #aaa;
  --pc-text-color: #eee;
  --pc-border-color: #555;
  --pc-blur: 0.25rem;
  --pc-spacing: 0.25rem;
  --pc-border-radius: 0.25rem;
  --pc-container-max-width: 67.5rem;
  --pc-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
