.accordion {
  width: 100%;

  &__header {
    padding: calc(var(--pc-spacing) * 2);
    display: flex;
    align-items: center;
    gap: calc(var(--pc-spacing) * 2);
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    background-color: initial;
    border-bottom: 0.063rem solid var(--pc-border-color);
    border-radius: initial;
  }

  &__icon {
    display: flex;
    transition: var(--pc-transition);
  }

  &__dropdown {
    position: relative;
    transition: var(--pc-transition);
    min-height: 0;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: var(--pc-font-size-sm);
    background-color: var(--pc-clickable-background);
  }
}
